.container-fluid.bg-light
  .row(style="min-height:100vh;")
    .col-12.col-lg-12.col-xl-4.p-2.py-xl-5.border.border-white
      form
        .py-3.px-2
          .mb-1 文字轉換模式
          .custom-control.custom-radio.custom-control-inline
            input#counting-style-1.custom-control-input(type="radio" name="counting-style" value="sandi" checked)
            label.custom-control-label(for="counting-style-1") Sandi's style
          .custom-control.custom-radio.custom-control-inline
            input#counting-style-2.custom-control-input(type="radio" name="counting-style" value="gus")
            label.custom-control-label(for="counting-style-2") Gus' style
          style-instructor(counting-style="sandi")
        warning-toast
        .form-group.mt-3
          textarea#raw-text.form-control(cols="30" rows="10" style="white-space: nowrap;  overflow: auto;")
        button.btn.btn-primary(type="submit") 轉換！

    .col-12.col-lg-12.col-xl-8.p-2.py-xl-5.border.border-white
      investigation-list
